<div class="body">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="border rounded p-4 w-50 bg-light">

            <h3 class="text-center mt-2">Change Password!</h3>
            <app-alert *ngIf="alert" [message]="message" [alertType]="alertType"></app-alert>

            <form [formGroup]="passwordForm" >
                <!-- Email Field -->
                <div class="mb-3" *ngIf="!emailVerified">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" class="form-control"
                        placeholder="Enter your Email" />
                    <div class="text-danger mt-1" *ngIf="passwordForm.controls['email'].invalid && (passwordForm.controls['email'].touched || passwordForm.controls['email'].dirty)">
                        <span *ngIf="passwordForm.controls['email'].errors?.['required']">
                            {{ validationMessage.required }}
                        </span>
                        <span *ngIf="passwordForm.controls['email'].errors?.['email']">
                            {{ validationMessage.email }}
                        </span>
                    </div>
                </div>

                <!-- OTP Field -->
                <div class="mb-3" *ngIf="otpField">
                    <label for="otp">OTP:</label>
                    <input type="text" id="otp" formControlName="otpValue" class="form-control"
                        placeholder="Enter the OTP" />
                </div>

                <!-- New Password Field -->
                <div class="mb-3" *ngIf="newPassword">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" formControlName="password" class="form-control"
                        placeholder="Enter your new Password" />
                    <div class="text-danger mt-1" *ngIf=" passwordForm.controls['password'].invalid && (passwordForm.controls['password'].touched || passwordForm.controls['password'].dirty)">
                        <span *ngIf="passwordForm.controls['password'].errors?.['required']">
                            {{ validationMessage.required }}
                        </span>
                        <span *ngIf="passwordForm.controls['password'].errors?.['minlength']">
                            {{ validationMessage.minlength(6) }}
                        </span>
                    </div>
                </div>

                <!-- Confirm Password Field -->
                <div class="mb-3" *ngIf="confirmPassword">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                        placeholder="Confirm your Password" />  
                    <div class="text-danger mt-1" *ngIf=" passwordForm.controls['confirmPassword'].invalid && (passwordForm.controls['confirmPassword'].touched || passwordForm.controls['confirmPassword'].dirty)">
                        <span *ngIf="passwordForm.controls['confirmPassword'].errors?.['required']">
                            {{ validationMessage.required }}
                        </span>
                        <span *ngIf="passwordForm.controls['confirmPassword'].errors?.['minlength']">
                            {{ validationMessage.minlength(6) }}
                        </span>
                    </div>
                </div>

                <!-- Navigation and Buttons -->
                <div class="mt-3 fs-5 d-flex justify-content-between">
                    <span>
                        Not registered yet?
                        <a routerLink="/register" class="text-decoration-none">Register</a>
                    </span>
                </div>

                <!-- Buttons -->
                <div *ngIf="!emailVerified">
                    <button type="button" class="mt-3 btn w-100 btn-primary" (click)="onVerifyEmail()">
                        Verify Email
                    </button>
                </div>
                <div *ngIf="emailVerified && !newPassword">
                    <button type="button" class="mt-3 btn w-100 btn-primary" (click)="validateOtp()">
                        Validate OTP
                    </button>
                </div>
                <div *ngIf="emailVerified && newPassword">
                    <button type="button" class="mt-3 btn w-100 btn-primary" (click)="onSubmitPassword()">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>